<launch>

    <node pkg="kkctbn2019" name="command" type="command" output="screen"/>

    <node pkg="kkctbn2019" name="controller" type="controller" output="screen"/>

    <node pkg="kkctbn2019" name="mode" type="mode" output="screen"/>

    <node pkg="kkctbn2019" name="receiver" type="receiver.py" output="screen"/>

    <node pkg="kkctbn2019" name="image_proccessing" type="image_proccessing.py" output="screen"/>
    

</launch>
